<h3>John Doe</h3>
<img src="./common/images/contact.png" alt="Photo" class="img-circle" style="width: 250px;height: 250px;"/>
<ul class="social-networks">
    {{#facebook}}
    <li>
        <a href="{{facebook}}" title="Google Drive">
            <i class="fa fa-facebook"></i>
        </a>
    </li>
    {{/facebook}}
    {{#twitter}}
    <li>
        <a href="{{twitter}}" title="Twitter">
            <i class="fa fa-twitter"></i>
        </a>
    </li>
    {{/twitter}}
    {{#google}}
    <li>
        <a href="{{google}}" title="Google Drive">
            <i class="fa fa-google-plus"></i>
        </a>
    </li>
   {{/google}}
    {{#github}}
    <li>
        <a href="{{github}}" title="Github">
            <i class="fa fa-github"></i>
        </a>
    </li>
    {{/github}}
</ul>