<div class="navbar navbar-default tjx-top-first-menu   navbar-lg " id="navbar-main" style=" ">

    <div class="navbar-header" >
        <a class="navbar-brand" href="index.html">
           <!-- <img src="../assets/images/logo_icon_dark.png" alt="">-->
             <img src="../assets/apps/images/shell/shallowblue.png" alt="">
            <!--桥梁智能检测与技术状况养管平台-->
        </a>
        <ul class="nav navbar-nav pull-right visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
        </ul>
    </div>
    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
          <!--  <li>
                <a href="#managements" class="border-success text-success" >
                    <i class="icon-office position-left "></i> 管养单位
                </a>
            </li>-->
            <li>
                <a href="#bridges" class="border-success text-success" >
                    <i class="icon-road position-left "></i> 桥梁管理
                </a>
            </li>
            <li>
                <a href="#projects" class="border-success text-success" >
                    <i class="icon-archive position-left "></i> 项目管理
                </a>
            </li>
            <li>
                <a href="#" class="border-success text-success" >
                    <i class="icon-pencil7 position-left"></i> 检测数据
                </a>
            </li>
            <li>
                <a href="#" class="border-success text-success" >
                    <i class="icon-newspaper2 position-left"></i> 数据处理与报告编辑
                </a>
            </li>
            <li>
                <a href="#" class="border-success text-success" >
                    <i class="icon-folder-search position-left"></i> 综合查询
                </a>
            </li>

        </ul>



        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="common/images/user.jpg" alt="">
                    <i class="caret"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#"><i class="icon-user-plus"></i>我的任务</a></li>
                    <li><a href="#"><i class="icon-coins"></i>消息提示</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-cog5"></i> 修改密码</a></li>
                    <li><a href="#logout"><i class="icon-switch2"></i> 退出</a></li>
                </ul>
            </li>
        </ul>
    </div>

</div>

<div class="page-header" >
    <div class="breadcrumb-line"><a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
        <ul class="breadcrumb qljc-navigation-bar">
         <!--   <li><a href="index.html"><i class="icon-home2 position-left"></i> 检测项目</a></li>
            <li><a href="components_page_header.html">检测项目管理</a></li>
            <li class="active">2017-055-403</li>-->
        </ul>
    </div>
</div>

<!-- Page container -->
<div class="page-container" id="tjx-shell-main" >
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
        </div>
    </div>
    <!-- /page content -->
</div>

<div id="todo-task-modal" class="modal fade tjx-modal-right" data-attention-animation="false"  tabindex="-1" data-focus-on="input:first">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title"><i class="icon-menu7"></i></h5>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
