<td width="20%">
    <input id="holenumber" name="holenumber" type="text" class="form-control description" placeholder="" value="{{holenumber}} " />
</td>
<td width="20%">
    <input id="span" name="span" type="text" class="form-control description" placeholder="" value="{{span}} " />
</td>
<td width="20%">
    <input id="form" name="form" type="text" class="form-control description" placeholder="" value="{{form}} " />
</td>
<td width="20%">
    <input id="material" name="material" type="text" class="form-control description" placeholder="" value="{{material}} " />
</td>
<td width="20%"><a href="#" class="pull-rigth delete">删除</a></td>