<td width="30%">
    <input id="piers" name="piers" type="text" class="form-control description" placeholder="" value="{{piers}} " />
</td>
<td width="20%">
    <input id="form" name="form" type="text" class="form-control description" placeholder="" value="{{form}} " />
</td>
<td width="20%">
    <input id="material" name="material" type="text" class="form-control description" placeholder="" value="{{material}} " />
</td>
<td width="20%">
    <input id="basicform" name="basicform" type="text" class="form-control description" placeholder="" value="{{basicform}} " />
</td>
<td width="10%"><a href="#" class="pull-rigth delete">删除</a></td>