<div class="panel-heading">
    <h6 class="panel-title"> 当前项目： <span class="text-primary"></span></h6>
    <div class="heading-elements">
        <button type="button" class="btn btn-primary legitRipple bridge-new"><i class="icon-plus3 position-left"></i>创建桥梁</button>
    </div>
</div>



<table class="table datatable-responsive">
    <thead>
    <tr>
        <th>桥梁名称</th>
        <th>桥梁编号</th>
        <th>中心桩号</th>
        <th>功能类型</th>
        <th>设计荷载</th>


        <th>管养单位</th>
        <th class="text-center">操作</th>
    </tr>
    </thead>
    <tbody>
    {{#items}}
    <tr>
        <td>{{bridgename}}</td>
        <td>{{bridgenumber}}</td>
        <td>{{centerstation}}</td>
        <td>{{functiontype}}</td>
        <td>{{designload}}</td>
        <td>{{custodyunit}}</td>
        <td class="text-center">
            <ul class="icons-list">
                <li><a href="javascript:void(0)" class="bridge-preview" data-project="{{routename}}" data-index="{{bridgename}}"><i class="icon-search4"></i> 详细</a></li>
                <li><a href="javascript:void(0)" class="bridge-edit" data-index="{{bridgename}}"><i class=" icon-pencil5"></i> 编辑</a></li>
                <li><a href="javascript:void(0)" class="bridge-delete" data-index="{{bridgename}}"><i class=" icon-cross3"></i> 删除</a></li>

              <!--  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-menu9"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="javascript:void(0)" class="project-edit" data-index="{{projectnumber}}"><i class=" icon-pencil5"></i> 编辑</a></li>
                        <li><a href="javascript:void(0)" class="project-delete" data-index="{{projectnumber}}"><i class=" icon-cross3"></i> 删除</a></li>
                    </ul>
                </li>-->
            </ul>
        </td>
    </tr>
    {{/items}}
    </tbody>
</table>
