<td width="8%">
    <input id="checkdate" name="checkdate" type="text" class="form-control description" placeholder="" value="{{checkdate}} " />
</td>
<td width="8%">
   <!-- <input id="regularspecialinspection" name="regularspecialinspection" type="text" class="form-control description" placeholder="" value="{{regularspecialinspection}} " />-->
    <select id="regularspecialinspection" name="regularspecialinspection"  class="form-control description"  value="{{regularspecialinspection}}">
        <option value="定期检查">定期检查</option>
        <option value="特殊检查">特殊检查</option>
    </select>
</td>
<td width="8%">
   <!-- <input id="bridgerating" name="bridgerating" type="text" class="form-control description" placeholder="" value="{{bridgerating}} " />-->
    <select id="bridgerating" name="bridgerating"  class="form-control description"  value="{{bridgerating}}">
        <option value="一类">一类</option>
        <option value="二类">二类</option>
        <option value="三类">三类</option>
        <option value="四类">四类</option>
        <option value="五类">五类</option>
    </select>
</td>
<td width="8%">
  <!--  <input id="abutmentfoundation" name="abutmentfoundation" type="text" class="form-control description" placeholder="" value="{{abutmentfoundation}} " />-->
    <select id="abutmentfoundation" name="abutmentfoundation"  class="form-control description"  value="{{abutmentfoundation}}">
        <option value="完好">完好</option>
        <option value="较好">较好</option>
        <option value="一般">一般</option>
    </select>
</td>
<td width="8%">
   <!-- <input id="pierfoundation" name="pierfoundation" type="text" class="form-control description" placeholder="" value="{{pierfoundation}} " />-->
    <select id="pierfoundation" name="pierfoundation"  class="form-control description"  value="{{pierfoundation}}">
        <option value="完好">完好</option>
        <option value="较好">较好</option>
        <option value="一般">一般</option>
    </select>

</td>
<td width="8%">
    <input id="foundationerosion" name="foundationerosion" type="text" class="form-control description" placeholder="" value="{{foundationerosion}} " />
</td>
<td width="8%">
   <!-- <input id="superstructure" name="superstructure" type="text" class="form-control description" placeholder="" value="{{superstructure}} " />-->
    <select id="superstructure" name="superstructure"  class="form-control description"  value="{{superstructure}}">
        <option value="完好">完好</option>
        <option value="较好">较好</option>
        <option value="一般">一般</option>
    </select>

</td>
<td width="8%">
   <!-- <input id="bearing" name="bearing" type="text" class="form-control description" placeholder="" value="{{bearing}} " />-->
    <select id="bearing" name="bearing"  class="form-control description"  value="{{bearing}}">
        <option value="完好">完好</option>
        <option value="较好">较好</option>
        <option value="一般">一般</option>
    </select>
</td>
<td width="8%">
   <!-- <input id="maintenanceminorrepair" name="maintenanceminorrepair" type="text" class="form-control description" placeholder="" value="{{maintenanceminorrepair}} " />-->
    <select id="maintenanceminorrepair" name="maintenanceminorrepair"  class="form-control description"  value="{{maintenanceminorrepair}}">
        <option value="是">是</option>
        <option value=" 否"> 否</option>
    </select>
</td>
<td width="8%">
    <input id="treatmentmeasures" name="treatmentmeasures" type="text" class="form-control description" placeholder="" value="{{treatmentmeasures}} " />
</td>
<td width="8%">
    <input id="nextcheckyears" name="nextcheckyears" type="text" class="form-control description" placeholder="" value="{{nextcheckyears}} " />
</td>
<td width="8%"><a href="#" class="pull-rigth delete">删除</a></td>