<td width="8%">
    <input id="checkdate" name="checkdate" type="text" class="form-control description" placeholder="" value="{{checkdate}} " />
</td>
<td width="8%">
    <input id="regularspecialinspection" name="regularspecialinspection" type="text" class="form-control description" placeholder="" value="{{regularspecialinspection}} " />
</td>
<td width="8%">
    <input id="bridgerating" name="bridgerating" type="text" class="form-control description" placeholder="" value="{{bridgerating}} " />
</td>
<td width="8%">
    <input id="abutmentfoundation" name="abutmentfoundation" type="text" class="form-control description" placeholder="" value="{{abutmentfoundation}} " />
</td>
<td width="8%">
    <input id="pierfoundation" name="pierfoundation" type="text" class="form-control description" placeholder="" value="{{pierfoundation}} " />
</td>
<td width="8%">
    <input id="foundationerosion" name="foundationerosion" type="text" class="form-control description" placeholder="" value="{{foundationerosion}} " />
</td>
<td width="8%">
    <input id="superstructure" name="superstructure" type="text" class="form-control description" placeholder="" value="{{superstructure}} " />
</td>
<td width="8%">
    <input id="bearing" name="bearing" type="text" class="form-control description" placeholder="" value="{{bearing}} " />
</td>
<td width="8%">
    <input id="maintenanceminorrepair" name="maintenanceminorrepair" type="text" class="form-control description" placeholder="" value="{{maintenanceminorrepair}} " />
</td>
<td width="8%">
    <input id="treatmentmeasures" name="treatmentmeasures" type="text" class="form-control description" placeholder="" value="{{treatmentmeasures}} " />
</td>
<td width="8%">
    <input id="nextcheckyears" name="nextcheckyears" type="text" class="form-control description" placeholder="" value="{{nextcheckyears}} " />
</td>
<td width="8%"><a href="#" class="pull-rigth delete">删除</a></td>