<td width="8%">
    <input id="startdate" name="startdate" type="text" class="form-control description" placeholder="" value="{{startdate}} " />
</td>
<td width="8%">
    <input id="completiondate" name="completiondate" type="text" class="form-control description" placeholder="" value="{{completiondate}} " />
</td>
<td width="8%">
    <input id="buildcategory" name="buildcategory" type="text" class="form-control description" placeholder="" value="{{buildcategory}} " />
</td>
<td width="8%">
    <input id="constructionreasons" name="constructionreasons" type="text" class="form-control description" placeholder="" value="{{constructionreasons}} " />
</td>
<td width="8%">
    <input id="engineeringscope" name="engineeringscope" type="text" class="form-control description" placeholder="" value="{{engineeringscope}} " />
</td>
<td width="8%">
    <input id="engineeringcosts" name="engineeringcosts" type="text" class="form-control description" placeholder="" value="{{engineeringcosts}} " />
</td>
<td width="8%">
    <input id="sourcefunding" name="sourcefunding" type="text" class="form-control description" placeholder="" value="{{sourcefunding}} " />
</td>
<td width="8%">
    <input id="qualityassessment" name="qualityassessment" type="text" class="form-control description" placeholder="" value="{{qualityassessment}} " />
</td>
<td width="8%">
    <input id="constructionunit" name="constructionunit" type="text" class="form-control description" placeholder="" value="{{constructionunit}} " />
</td>
<td width="8%">
    <input id="designunit" name="designunit" type="text" class="form-control description" placeholder="" value="{{designunit}} " />
</td>
<td width="8%">
    <input id="builder" name="builder" type="text" class="form-control description" placeholder="" value="{{builder}} " />
</td>
<td width="8%">
    <input id="supervisionunit" name="supervisionunit" type="text" class="form-control description" placeholder="" value="{{supervisionunit}} " />
</td>

<td width="8%"><a href="#" class="pull-rigth delete">删除</a></td>