
<div class="panel panel-white">
    <div class="panel-heading">
        <h6 class="panel-title">
            <i class="position-left"></i>
            <span class="project-title">养管单位</span>
        </h6>
        <div class="heading-elements">
            <div class="heading-btn pull-right">
                <button class="btn btn-default cancel">取消</button>
                <button  class="btn btn-info save" >提交</button>
            </div>
        </div>
    </div>
    <div class="panel-body" style="border-bottom:none;border-top:none;">
        <form class="form-horizontal">
            <table class="datalist">
                <tr>
                    <th>管理单位名称</th>
                    <td><input id="managementname" name="managementname" type="text" class="form-control" placeholder="" value="{{managementname}}" /></td>
                    <th>管理单位编号</th>
                    <td> <input id="managementnumber" name="managementnumber" type="text" class="form-control" placeholder="" value="{{managementnumber}}"  /></td>
                </tr>
                <tr>
                    <th>单位地址</th>
                    <td><input id="address" name="address" type="text" class="form-control" placeholder="" value="{{address}}" /></td>
                    <th>联系人</th>
                    <td><input id="contact" name="contact" type="text" class="form-control" placeholder="" value="{{contact}}" /></td>
                </tr>
                <tr>
                    <th>联系电话</th>
                    <td><input id="phone" name="phone" type="text" class="form-control" placeholder="" value="{{phone}}" /></td>
                    <th>邮箱</th>
                    <td><input id="email" name="email" type="text" class="form-control" placeholder="" value="{{email}}" /></td>
                </tr>
                <tr>
                    <th>单位简介</th>
                    <td colspan="3"><input id="desc" name="memo" type="text" class="form-control" placeholder="" value="{{desc}}" /></td>
                </tr>
                <tr>
                    <th>备注</th>
                    <td colspan="3"><input id="memo" name="memo" type="text" class="form-control" placeholder="" value="{{memo}}" /></td>
                </tr>
            </table>
        </form>
    </div>
    <div class="panel-footer clearfix">
        <div class="heading-elements">
            <div class="heading-btn pull-right">
                <button class="btn btn-default cancel">取消</button>
                <button  class="btn btn-info save" >提交</button>
            </div>
        </div>
    </div>
</div>



