
<div class="panel border-left-lg border-left-primary">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8">
                        <h6 class="no-margin-top"><a href="task_manager_detailed.html">#1. 津沧高速</a></h6>
                        <p class="mb-15">津沧高速是天津境内的一条高速公路，全长54km，起自外环线津静立交处，止于青县静海县交界处G2G3京沪京台高速上，全线共设收费站6座。</p>

                    </div>

                    <div class="col-md-4">
                        <ul class="list task-details">
                            <li>权属</li>
                            <li class="dropdown">
                                当前状态: &nbsp;
                                <a href="#" class="label label-primary dropdown-toggle" data-toggle="dropdown">有检测任务 <span class="caret"></span></a>
                            </li>
                            <li><a href="#">明细</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel-footer panel-footer-condensed">
                <div class="heading-elements">
                    <span class="heading-text">创建日期</span></span>

                    <ul class="list-inline list-inline-condensed heading-text pull-right">

                        <li><a href="#"><i class="icon-alarm-add"></i> 查看明细</a></li>
                        <li><a href="#"><i class="icon-alarm-add"></i> 编辑</a></li>
                        <li><a href="#"><i class="icon-alarm-add"></i> 检测桥梁</a></li>
                        <li><a href="#"><i class="icon-alarm-add"></i> 检测任务</a></li>


                    </ul>
                </div>
            </div>
        </div>
