    <div class="panel-body">
        <button type="button" class="btn btn-primary legitRipple createproject"><i class="icon-plus3 position-left"></i>创建检测项目</button>
    </div>

    <table class="table datatable-responsive">
        <thead>
        <tr>
            <th>项目名称</th>
            <th>项目编号</th>
            <th>路线等级</th>

            <th >管养单位</th>
            <th>当前检测任务</th>
            <th class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>
            {{#items}}
                <tr>
                    <td>{{projectname}}</td>
                    <td>{{projectnumber}}</td>
                    <td>{{roadgrade}}</td>
                    <td>{{manageunit}}</td>
                    <td></td>
                    <td class="text-center">
                        <ul class="icons-list">
                            <li ><a href="javascript:void(0)" class="project-edit text-primary-600" data-index="{{projectname}}" > 编辑</a></li>
                            <li><i  style="padding-right: 10px;padding-left: 10px;">|</i></li>
                            <li ><a href="javascript:void(0)" class="project-delete text-primary-600" data-index="{{projectname}}" > 删除</a></li>
                            <li><i  style="padding-right: 10px;padding-left: 10px;">|</i></li>
                            <li ><a href="javascript:void(0)" class="project-bridge text-primary-600" data-index="{{projectname}}" > 检测桥梁</a></li>
                            <li><i  style="padding-right: 10px;padding-left: 10px;">|</i></li>
                            <li ><a href="javascript:void(0)" class="project-task text-primary-600" data-index="{{projectname}}" > 检测任务</a></li>

                           <!-- <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-menu9"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="text-primary-600"><a href="javascript:void(0)" class="project-edit" data-index="{{projectname}}"><i class=" icon-pencil5"></i> 编辑</a></li>
                                    <li class="text-primary-600"><a href="javascript:void(0)" class="project-delete" data-index="{{projectname}}"><i class=" icon-cross3"></i> 删除</a></li>
                                    <li class="text-primary-600"><a href="javascript:void(0)" class="project-bridge" data-index="{{projectname}}"><i class=" icon-construction"></i> 桥梁</a></li>
                                    <li class="text-primary-600"><a href="javascript:void(0)" class="project-task" data-index="{{projectname}}"><i class=" icon-rating3"></i> 任务</a></li>

                                </ul>
                            </li>-->
                        </ul>
                    </td>
                </tr>
            {{/items}}
        </tbody>
    </table>
