
    <div class="panel panel-white">
        <div class="panel-heading">
            <h6 class="panel-title">
                <i class="position-left"></i>
                <span class="project-title">检测任务基础数据</span>
            </h6>
            <div class="heading-elements">
                <div class="heading-btn pull-right">
                    <button class="btn btn-default cancel">取消</button>
                    <button  class="btn btn-info save" >提交</button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <table class="datalist">
                    <tr>
                        <th>路线名称</th>
                        <td><input id="routename" name="routename" type="text" class="form-control" placeholder="" value="{{routename}}"  readonly/></td>
                        <th>检测类型</th>
                        <td>                           <!-- <input id="detectiontype" name="detectiontype" type="text" class="form-control" placeholder="" value="{{detectiontype}}"  />
                           -->
                            <select id="detectiontype" name="detectiontype" class="form-control" value="{{detectiontype}}" >
                                <option value="经常性检查">经常性检查</option>
                                <option value="定期检查">定期检查</option>
                                <option value="特殊检查">特殊检查</option>
                                <option value="专项检查">专项检查</option>
                            </select></td>
                    </tr>
                    <tr>
                        <th>任务编号</th>
                        <td><input id="tasknumber" name="tasknumber" type="text" class="form-control" placeholder="" value="{{tasknumber}}" /></td>
                        <th>任务名称</th>
                        <td><input id="taskname" name="taskname" type="text" class="form-control" placeholder="" value="{{taskname}}" /></td>
                    </tr>
                    <tr>
                        <th>创建人</th>
                        <td><input id="creator" name="creator" type="text" class="form-control" placeholder="公路用" value="{{creator}}" /></td>
                        <th>创建时间</th>
                        <td><input id="createtime" name="createtime" type="text" class="form-control pickadate" placeholder="" value="{{createtime}}" /></td>
                    </tr>
                    <tr>
                        <th>备注</th>
                        <td colspan="3"><input id="memo" name="memo" type="text" class="form-control" placeholder="" value="{{memo}}" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

    <div class="panel panel-white">
        <div class="panel-heading">
            <h6 class="panel-title">
                <i class="  position-left"></i>
                <span class="project-title">检测桥梁</span>
            </h6>
            <div class="heading-elements">
                <div class="heading-btn pull-right">
                    <button class="btn btn-primary btn-sm bridges-selectall">全选</button>
                    <button class="btn btn-primary btn-sm bridges-unselect">取消</button>
                </div>
            </div>
        </div>
        <div class="panel-body">

            <div class="row bridges-select">
                {{#bridges}}
                    <div class="col-md-3">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="control-primary" data-unit="{{custodyunit}}"  data-index="{{id}}"  data-value="{{bridgename}}"
                                        {{#checked}}
                                            checked="checked"
                                        {{/checked}}
                                >
                                {{bridgename}}
                            </label>
                        </div>
                    </div>
                {{/bridges}}
            </div>

        </div>
        <div class="panel-footer clearfix">
            <div class="heading-elements">
                <div class="heading-btn pull-right">
                    <button class="btn btn-default cancel">取消</button>
                    <button  class="btn btn-info save" >提交</button>
                </div>
            </div>
        </div>
    </div>


